<div class='left'>
  <a href="#posts/<%= post.escape("id") %>">
    <%= post.escape("title") %>
  </a>
</div>

<div class='right'>
  <button class='delete-post btn-warning btn-xs'>
    Delete
  </button>

  <a class='edit-post' href='#posts/<%= post.escape("id") %>/edit'>
    Edit Post
  </a>
</div>
